.card {
    width: 20rem;
    height: 19rem;
}

.imageDivision {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    height: 15rem;
    width: 100%;
    margin-bottom: 1rem;
}

.deskCardType, .mobileCardType {
    font-family: 'Red Hat Display', sans-serif;
    font-size: .8rem;
    font-weight: 700;
}

.deskCardType {
    background-color: #0E5E55;
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem;
    border-radius: 19px;
}

.mobileCardType {
    margin-left: 1rem;
}

.mobileCardType::before {
    display: inline-block;
    content: "";
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: .2rem;
    background-color: #0E5E55;
}

.cardDate {
    font-family: 'Red Hat Display', sans-serif;
    font-size: .8rem;
    font-weight: 700;
}

.cardTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: .5rem;
}

@media screen and (min-width: 600px) {
    .card {
        width: 15rem;
        height: 25rem;
    }
    .imageDivision {
        background-position: center;
        height: 18rem;
    }
}
